<div id="disqus_thread"></div>
<script src="/assets/js/disqusLoader.js"></script>
<script>
disqusLoader('#disqus_thread', {
    scriptUrl: 'https://jekyll-tale.disqus.com/embed.js',
});
</script>
<noscript>Please enable JavaScript to view comments.</noscript>
