* {
  @include box-sizing;
  line-height: 1.5;
}

html,
body {
  color: $default-color;
  background-color: $grey-1;
  margin: 0;
  padding: 0;
}

html {
  font-family: $serif-primary;
  font-size: 14px;
  overflow-y: scroll;

  @media (min-width: 600px) {
    font-size: 16px;
  }
}

body {
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $default-tint;
  font-family: $sans-serif;
  line-height: normal;
}

a {
  color: $blue;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}

blockquote {
  border-left: .25rem solid $grey-3;
  color: $default-shade;
  margin: .8rem 0;
  padding: .5rem 1rem;
  background: $grey-2;

  p:last-child {
    margin-bottom: 0;
  }
}

code,
pre {
  font-family: $code-font;
  background-color: $grey-2;
  border: 1px solid $grey-3;
}

code {
  color: $code-color;
  font-size: 0.95rem;
  padding: .25em .5em;
  border-radius: 3px;
}

pre {
  padding: 1rem;
  overflow-x: auto;
  border-radius: 5px;

  @include mobile {
    padding: 0.5rem;
    font-size: 0.85rem;
  }

  > code {
    border: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

pre code {
  color: $default-color;
  font-size: 1rem;
}
