@use 'variables' as *;

.container {
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

main,
footer,
.nav-container {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  width: 80%;
}

main {
  padding: 2rem 0;
  min-height: 80vh;
}

.nav {
  overflow: auto;
  background: $grey-1;
  border-bottom: 1px solid $grey-3;
  position: sticky;
  top: 0;
  z-index: 100;

  &-container {
    margin: 1rem auto;
    position: relative;
    text-align: center;
  }

  &-title {
    @include transition(all .2s ease-out);
    color: $default-color;
    display: inline-block;
    margin: 0;
    padding-right: .2rem;

    &:hover,
    &:focus {
      opacity: .6;
    }
  }

  ul {
    list-style-type: none;
    margin: 1rem 0 0;
    padding: 0;
    text-align: center;
  }

  li {
    @include transition(all .2s ease-out);
    color: $blue;
    display: inline-block;
    padding: 0 2rem 0 0;

    @include mobile {
      padding: 0 1rem 0 0;
      font-size: 0.9rem;
    }

    &:last-child {
      padding-right: 0;
    }

    &:hover,
    &:focus {
      opacity: .7;
    }
  }

  a {
    color: $blue;
    font-family: $sans-serif;

    @include mobile {
      font-size: 0.85rem;
    }
  }
}

footer {
  font-family: $serif-secondary;
  padding: 2rem 0;
  text-align: center;
  color: $default-shade;

  span {
    color: $default-color;
    font-size: .8rem;
  }
}
