.pagination {
  border-top: 2px solid $blue;
  font-family: $serif-secondary;
  padding-top: 2rem;
  position: relative;
  text-align: center;
  box-shadow: 0 -2px 10px $shadow-color;

  span {
    color: $blue;
    font-size: 1.1rem;
    font-weight: bold;
  }

  .top {
    @include transition(all .3s ease-out);
    color: $blue;
    font-family: $sans-serif;
    font-size: 1.1rem;

    &:hover {
      color: $code-color;
    }
  }

  .arrow {
    @include transition(all .3s ease-out);
    color: $blue;
    position: absolute;
    font-size: 1.5rem;

    &:hover,
    &:focus {
      color: $code-color;
      text-decoration: none;
    }
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}
