.post {
  padding: 1rem 0 3rem 0;

  &-info {
    color: $default-shade;
    font-family: $serif-secondary;
    letter-spacing: 0.5px;
    text-align: center;

    span {
      font-style: italic;
    }
  }

  &-title {
    color: $blue;
    font-family: $sans-serif;
    font-size: 3rem;
    margin: 1rem 0;
    text-align: center;

    @include mobile {
      font-size: 2rem;
    }
  }

  &-line {
    border-top: 0.4rem solid $blue;
    display: block;
    margin: 0 auto 3rem;
    width: 4rem;
  }

  p {
    margin: 0 0 1rem;
    text-align: justify;
  }

  a:hover {
    text-decoration: underline;
  }

  img {
    margin: 0 auto 0.5rem;
    display: block;
    max-width: 100%;
    border: 1px solid $grey-3;
    border-radius: 5px;
  }

  img + em {
    color: $default-shade;
    display: block;
    font-family: $sans-serif;
    font-size: 0.9rem;
    font-style: normal;
    text-align: center;
  }
}
