.tags {
  &-header {
    &-title {
      color: $blue;
      font-family: $sans-serif;
      font-size: 4rem;
      margin: 1rem 0;
      text-align: center;
      text-shadow: 0 0 20px $shadow-color;
    }

    &-line {
      border-top: 0.4rem solid $blue;
      display: block;
      margin: 0 auto 3rem;
      width: 4rem;
      box-shadow: 0 0 10px $shadow-color;
    }
  }

  &-clouds {
    text-align: center;
    font-family: $sans-serif;
    margin-bottom: 3rem;

    a {
      display: inline-block;
      margin: 0 0.3rem 0.5rem;
      padding: 0.4rem 0.8rem;
      background: $grey-2;
      border: 1px solid $blue;
      border-radius: 5px;
      color: $blue;
      text-decoration: none;
      transition: all 0.3s;

      &:hover,
      &:active {
        background: $blue;
        color: $grey-1;
        box-shadow: 0 0 15px $shadow-color;
      }
    }
  }

  &-item {
    margin-bottom: 2rem;

    &-icon {
      height: 1rem;
      stroke: $blue;
    }

    &-label {
      display: inline-block;
      margin: 2rem 0 0.5rem;
      font-family: $sans-serif;
      color: $blue;
      font-size: 1.5rem;
    }
  }

  &-post {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid $grey-3;
    transition: all 0.3s;

    &-title {
      color: $default-color;
      text-decoration: none;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-line {
      @include transition(all 0.3s ease-out);
      border-top: 0.1rem solid $blue;
      display: block;
      width: 0;
    }

    &-meta {
      color: $default-shade;
      text-align: right;
      white-space: nowrap;
      margin-left: 1rem;
    }

    &:hover,
    &:active {
      background: $grey-2;
      padding-left: 0.5rem;
      
      .tags-post-line {
        width: 3rem;
      }

      .tags-post-title {
        color: $blue;
      }
    }
  }
}
