// Colors
$default-color: #9a9a9a;
$default-shade: #707070;
$default-tint: #b8b8b8;
$grey-1: #0d0d0d;
$grey-2: #1a1a1a;
$grey-3: #252525;
$white: #ffffff;
$blue: #00d9ff;
$shadow-color: rgba(0, 217, 255, 0.3);
$code-color: #ff006e;

// Fonts
$serif-primary: 'Libre Baskerville', 'Times New Roman', Times, serif;
$serif-secondary: Palatino, 'Palatino LT STD', 'Palatino Linotype', 'Book Antiqua', 'Georgia', serif;
$sans-serif: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
$code-font: Menlo, Monaco, monospace;

// Mixins
@mixin box-sizing {
  box-sizing: border-box;
}

@mixin transition($args...) {
  transition: $args;
}

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 600px) {
    @content;
  }
}
