// Colors
$default-color: #2d3748;
$default-shade: #718096;
$default-tint: #1a202c;
$grey-1: #ffffff;
$grey-2: #f7fafc;
$grey-3: #e2e8f0;
$white: #ffffff;
$blue: #3182ce;
$shadow-color: rgba(49, 130, 206, 0.2);
$code-color: #e53e3e;

// Fonts
$serif-primary: 'Libre Baskerville', 'Times New Roman', Times, serif;
$serif-secondary: Palatino, 'Palatino LT STD', 'Palatino Linotype', 'Book Antiqua', 'Georgia', serif;
$sans-serif: 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
$code-font: Menlo, Monaco, monospace;

// Mixins
@mixin box-sizing {
  box-sizing: border-box;
}

@mixin transition($args...) {
  transition: $args;
}

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 600px) {
    @content;
  }
}
