@use 'tale/variables' as *;
@use 'tale/base';
@use 'tale/code';
@use 'tale/post';
@use 'tale/syntax';
@use 'tale/layout';
@use 'tale/pagination';
@use 'tale/catalogue';
@use 'tale/404' as notfound;
@use 'tale/tags';